* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #2a607c;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .kerr {
    color: #d9dcd6;
}

header nav {
    display: wrap;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

a:hover {
    color: rgba(157, 157, 157, 0.996)
}

header nav a {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

h2 {
    color: white;
    float: right;
}

section.content {
    background-color: red;
    height: 100px;
    margin-top: 95px;
    border: 100px;
}

#ryan {
    float: left;
    width: 75px;
    height: 75px;
    margin-right: 10px;
}