* {
    box-sizing: border-box;
    padding: 10px;
    margin: 15px;
}

header {
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #2a607c;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .kerr {
    color: #d9dcd6;
}

header nav {
    display: wrap;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

a:hover {
    color: rgba(157, 157, 157, 0.996)
}

header nav a {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

h2 {
    color: white;
    float: right;
}

section.content {
    background-color: rgba(38, 3, 3, 0.312);
    height: 100px;
    margin-top: 95px;
    border: 100px;
}

article h1 {
    color: black;
    text-align: center;
    text-decoration-line: underline;
}

article.about-life {
    border: 5px solid rgb(14, 1, 1);
    display: block;
    flex-direction: column;
    align-self: center;
    width: 100%;
    color: blue;
    float: right;
    background: rgb(145, 156, 255);

}

#ryan {
    float: left;
    width: 125px;
    height: 125px;
    margin-right: 10px;
}

.work-heading {
    color: black;
    text-align: center;
    text-decoration-line: underline;
    margin-top: 10px;
}

.work-exp {
    width: 100%;
    background: rgb(145, 156, 255);
    display: inline-flex;
    flex-wrap: wrap;
    border: 5px solid rgb(14, 1, 1);
}

.card {
    display: flex;
    height: 200px;
    padding: 1rem;
    flex: 1;
    position: relative;

}

.card-heading {
    position: absolute;
    color: aqua;
}

.card img {
    border-radius: 20px;
    box-shadow: 15px 15px grey;
}

.contact{
    border: 5px solid rgb(14, 1, 1);
    background: rgb(145, 156, 255);
}

h1 {
    color: black;
    text-align: center;
    text-decoration-line: underline;
    margin-top: 10px;
}

